{{template "base.html" .}}
{{define "meta"}}
<meta name="author" content="{{.config.author}}">
{{end}}
{{define "link"}}
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="/theme/{{.config.theme}}/css/style.css" rel="stylesheet">
{{end}}
{{define "head"}}
<title>{{.config.title}}</title>
{{end}}
{{define "body"}}
<div class="container" role="main">
	<div class="content">
		<div class="page-header">
			<h1></h1>
		</div>
		<div class="post-content">
			<ul class="post-list">
				{{range .posts}}
				<li class="post-list-item">
					<a href="{{.permalink}}">
						<h3>{{.title}}</h3>
						<time>{{.sdate}}</time>
					</a>
				</li>
				{{end}}
			</ul>
		</div>
		<audio src="/media/bg.mp3" autoplay="autoplay" controls="controls" loop="loop"></audio>
	</div>
</div>
{{end}}