<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta name="author" content="zhoukk">
	<title>{{.title}}</title>

	<link rel="icon" href="/favicon.ico">
	<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/zhoukk.css" rel="stylesheet"></head>
</head>
<body>
	{{template "navbar.html"}}
	<div class="container" role="main">
		<div class="content">
			<div class="page-header">
				<h1>{{.title}}</h1>
			</div>
			<div class="post-content">
				<div class="row">
					<div class="col-xs-10">
						<br/>
						{{.content}}{{template "paginator.html" .}}
						<hr>{{template "comment.html"}}</div>
					<div class="col-xs-2">
						<span class="label label-primary">{{.tags}}</span>
						<br/>
						{{.description}}
					</div>
				</div>
			</div>
		</div>
		{{template "footer.html"}}
	</div>
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript"src="http://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery||document.write('<script type="text/javascript" src="js/jquery.min.js"><\/script>')</script>
<script type="text/javascript"src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"src="/js/zhoukk.js"></script>
</body>
</html>