{{template "base.html" .}}
{{define "meta"}}
<meta name="author" content="{{.config.author}}">
{{end}}
{{define "link"}}
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="/theme/{{.config.theme}}/css/style.css" rel="stylesheet">
{{end}}
{{define "head"}}
<title>{{.post.title}}</title>
{{end}}
{{define "body"}}
<div class="container" role="main">
	<div class="content">
		<div class="page-header">
			<h1>{{.post.title}}</h1>
		</div>
		<div class="post-content">
			<div class="row">
				<div class="col-xs-10">
					<br/>
					{{.post.content}}{{template "paginator.html" .}}
					<hr>{{template "disqus.html"}}</div>
				<div class="col-xs-2">
					<span class="label label-primary">{{.post.tags}}</span>
					<br/>
					{{.post.description}}
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}