
<!-- meta -->
{{define "meta"}}

{{end}}


<!-- title -->
{{define "title"}}
<title>{{.config.title}}</title>
{{end}}


<!-- style -->
{{define "style"}}

{{end}}


<!-- script -->
{{define "script"}}

{{end}}

<!-- body -->
{{define "body"}}
{{template "layout_8_4.html" .}}
{{end}}

<!-- content -->
{{define "content"}}
<div class="panel-group" role="tablist" aria-multiselectable="true">
	{{range $i,$v := .posts}}
	<!-- article list -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>
				<strong><a href="{{$v.permalink}}" title="{{$v.title}}">{{$v.title}}</a></strong>
			</h3>
		</div>
		<div class="panel-body">
			{{$v.summary}}
			<a class="btn btn-default" href="{{$v.permalink}}" role="button">更多...</a>
		</div>
		<div class="panel-footer">
			<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
			<span class="label label-default">{{$v.category}}</span>
			<p class="pull-right">
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				<time datetime="{{$v.sdate}}">{{$v.date}}</time>
				<a href="{{$v.permalink}}#comments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 留言</a>
			</p>
		</div>
	</div>
	<!-- more article -->
	{{end}}
</div>

<nav>
	<ul class="pagination">
		{{if eq .page 1}}
		<li class="disabled"><a aria-label="上一页"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
		{{else}}
		<li><a href="{{.prevurl}}" aria-label="上一页"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
		{{end}}
		{{$p := .page}}
		{{range $i := .pages}}
		{{if eq $i.p $p}}
		<li class="active"><a href="{{$i.url}}">{{$i.p}} <span class="sr-only">(current)</span></a></li>
		{{else}}
		<li><a href="{{$i.url}}">{{$i.p}}</a></li>
		{{end}}
		{{end}}
		{{if eq .page .total_page}}
		<li class="disabled"><a aria-label="下一页"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
		{{else}}
		<li><a href="{{.nexturl}}" aria-label="下一页"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
		{{end}}
	</ul>
</nav>

{{end}}

<!-- aside -->
{{define "aside"}}
{{template "side.html" .}}
{{end}}

