{{template "base.html" .}}
{{define "meta"}}
<meta name="author" content="{{.config.author}}">
<meta name="keywords" content="zhoukk, zhoukk.com">
<meta name="description" content="zhoukk, zhoukk.com, zhoukk's page">
{{end}}
{{define "link"}}
<link href="/static/css/style.css" rel="stylesheet">
{{end}}
{{define "head"}}
<title>存档</title>
{{end}}
{{define "body"}}
<div id="pjax-container" class="container" role="main">
	{{if .title}}
	<title>{{.title}}</title>
	{{end}}
	<header>
		<h1></h1>
	</header>
	<article>
		<div class="tags-list">
			{{range $i,$v := .tags}}
			<ul>
				<li>
					{{$i}}
					<ul>
						{{range $v}}
						<li>
							<a href="{{.permalink}}">{{.title}}</a>
						</li>
						{{end}}
					</ul>
				</li>
			</ul>
			{{end}}
		</div>
	</article>
</div>
{{end}}
{{define "script"}}
<script type="text/javascript" src="http://cdn.staticfile.org/jquery.pjax/1.9.2/jquery.pjax.min.js"></script>
{{end}}