{{template "base.html" .}}
{{define "meta"}}
<meta name="author" content="{{.config.author}}">
<meta name="keywords" content="zhoukk, zhoukk.com">
<meta name="description" content="zhoukk, zhoukk.com, zhoukk's page">
{{end}}
{{define "link"}}
<link href="/static/css/style.css" rel="stylesheet">
{{end}}
{{define "head"}}
<title>{{.config.title}}</title>
{{end}}
{{define "body"}}
<div class="container" role="main">
	<header>
		<h1></h1>
	</header>
	<article>
		<ul class="post-list">
			{{range .posts}}
			<li class="post-list-item">
				<a href="{{.permalink}}">
					<h3>{{.title}}</h3>
					<time>{{.sdate}}</time>
				</a>
			</li>
			{{end}}
		</ul>
	</article>
</div>
{{end}}