body {
	background-color: #eee;
}

footer {
	margin-top: 20px;
	text-align: center;
}

nav {
	text-align: center;
	padding-top: 80px;
}

nav ul {
	list-style: none;
	margin: auto;
	width: 70%;
}

nav li {
	display: inline-block;
	font-weight: 700;
	margin: 0 10px;
}

nav a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #f03838;
	text-decoration: none;
}

nav a:hover {
	color: #000;
}

.post-content {
	margin: auto;
	width: 70%;
}

.post-list {
	padding: 20px;
	list-style: none;
}

.post-list-item {
	border-bottom: 1px dotted #303030;
	margin: 0;
	position: relative;
}

.post-list-item a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: block;
	padding: 20px 5px;
	color: #000;
	text-decoration: none;
}

.post-list-item a:hover {
	background: #fcf5f5;
	color: #f03838;
	padding: 20px 12px;
}

.post-list-item h3 {
	display: inline-block;
	margin: 0;
}

.post-list-item time {
	display: inline-block;
}

.post-list-item time:before {
	content: " / ";
}

.page-header {
	text-align: center;
}

.pager {
	list-style: none;
	padding-top: 30px;
	padding-bottom: 30px;
}

.pager a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #000;
	text-decoration: none;
}

.pager .disabled {
	display: none;
}

.pager .previous {
	float: left;
}

.pager .next {
	float: right;
}

.backToTop {
	padding: 5px 0;
	position: fixed;
	cursor: pointer;
	bottom: 20px;
	right: 20px;
	height: 38px;
	width: 38px;
	background: url("../img/top.png") no-repeat scroll 0% 0% transparent;
}