
<!-- meta -->
{{define "meta"}}

{{end}}


<!-- title -->
{{define "title"}}
<title>关于</title>
{{end}}


<!-- style -->
{{define "style"}}

{{end}}


<!-- script -->
{{define "script"}}

{{end}}

<!-- body -->
{{define "body"}}
{{template "layout_12.html" .}}
{{end}}

<!-- content -->
{{define "content"}}
<div>
	WHO(1)

	<h1>NAME</h1>
	<blockquote>
		<p>Zhou kaikai</p>
	</blockquote>

	<h2>SYNOPSIS</h2>
	<blockquote>
		<p>Just another person trying to find out how to responsibly live on this earth.</p>
	</blockquote>

	<h2>DESCRIPTION</h2>
	<blockquote>
		<p></p>
		<p>You can find my profile on <a href="https://github.com/zhoukk">https://github.com/zhoukk</a></p>
	</blockquote>

	<h2>TODO</h2>
	<blockquote>
		<p>You can find my occasionally updated TODO list <a href="/todo.html">here</a>.</p>
	</blockquote>

	<h2>CONTACT</h2>
	<blockquote>
		<p>You can contact me with <a href="mailto:izhoukk@gmail.com">email</a>.</p>
	</blockquote>

	<h2>REPORTING BUGS</h2>
	<blockquote>
		<p>You can report bugs in my software directly to my email or to github issues. I'll do my best to fix them as time permits.</p>
	</blockquote>

	<h2>COPYRIGHT</h2>
	<blockquote>
		<p>The information on this site is licensed under the GNU GPL version 3.</p>
	</blockquote>

	<h2>SEE ALSO</h2>
	<blockquote>
		<p>Photos on <a href="/photo.html">here</a>.</p>
	</blockquote>

</div>
{{end}}


<!-- aside -->
{{define "aside"}}

{{end}}
