
<!-- meta -->
{{define "meta"}}
<meta name="keywords" content="blog,zhoukk,zhoukk.com">
<meta name="description" content="zhoukk's blog">
<meta name="author" content="zhoukk,zhoukk@zhoukk.com">
{{end}}


<!-- title -->
{{define "title"}}
<title>关于</title>
{{end}}


<!-- style -->
{{define "style"}}

{{end}}


<!-- script -->
{{define "script"}}

{{end}}

<!-- body -->
{{define "body"}}
{{template "body_media.html" .}}
{{end}}

<!-- content -->
{{define "content"}}
<pre>
	走在乡间的小路上
	暮归的老牛是我同伴
	蓝天配朵夕阳在胸膛
	缤纷的云彩是晚霞的衣裳
	荷把锄头在肩上
	牧童的歌声在荡漾
	喔呜喔呜喔喔他们唱
	还有一支短笛隐约在吹响
	笑意写在脸上
	哼一曲乡居小唱
	任思绪在晚风中飞扬
	多少落寞惆怅
	都随晚风飘散
	遗忘在乡间的小路上
</pre>
{{end}}


<!-- aside -->
{{define "aside"}}

{{end}}
