{{define "title"}}
<title>相册</title>
<script type="text/javascript">
	function show_photo(photo) {
		var preview = document.getElementById("preview")
		var preview_img = document.getElementById("preview_img")
		var descript = document.getElementById("descript")
		preview_img.src = "image/"+photo
		descript.innerHTML = photo
	}
</script>
{{end}}
{{define "body"}}
<div id="preview" align="center" style="position:fixed;">
	<img id="preview_img" width="420px" />
	<p id="descript"></p>
</div>
<div style="margin-left:440px">
	{{range .config.photos}}
	<img id="{{.}}" src="image/thumb/{{.}}" alt="{{.}}" onclick="show_photo({{.}})"/>
	{{end}}
</div>
<table>
	<tr>
		<td width="420px">
		</td>
		<td>
			
		</td>
	</tr>
</table>


{{end}}