
<!-- meta -->
{{define "meta"}}
<meta name="keywords" content="blog,zhoukk,zhoukk.com">
<meta name="description" content="zhoukk's blog">
<meta name="author" content="zhoukk,zhoukk@zhoukk.com">
{{end}}


<!-- title -->
{{define "title"}}
<title>存档</title>
{{end}}


<!-- style -->
{{define "style"}}

{{end}}


<!-- script -->
{{define "script"}}

{{end}}

<!-- body -->
{{define "body"}}
{{template "body_media.html" .}}
{{end}}

<!-- content -->
{{define "content"}}
{{range $i,$v := .categories}}
<ul class="list-unstyled">
	<li name="category_{{$i}}" id="category_{{$i}}">
		{{$i}}
		<ul>
			{{range $v}}
			<li>
				<a href="{{.permalink}}">{{.title}}</a>
			</li>
			{{end}}
		</ul>
	</li>
</ul>
{{end}}
{{end}}


<!-- aside -->
{{define "aside"}}

{{end}}
