
<!-- meta -->
{{define "meta"}}
<meta name="keywords" content="blog,zhoukk,zhoukk.com">
<meta name="description" content="zhoukk's blog">
<meta name="author" content="zhoukk,zhoukk@zhoukk.com">
{{end}}


<!-- title -->
{{define "title"}}
<title>zhoukk's blog</title>
{{end}}


<!-- style -->
{{define "style"}}

{{end}}


<!-- script -->
{{define "script"}}

{{end}}

<!-- body -->
{{define "body"}}
{{template "layout_8_4.html" .}}
{{end}}

<!-- content -->
{{define "content"}}
<div class="panel-group" role="tablist" aria-multiselectable="true">
	{{range $i,$v := .posts}}
	<!-- article list -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>
				<strong><a href="{{$v.permalink}}" title="{{$v.title}}">{{$v.title}}</a></strong>
			</h3>
		</div>
		<div class="panel-body">
			{{$v.content}}
		</div>
		<div class="panel-footer text-right">
			<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
			<time datetime="{{$v.sdate}}">{{$v.sdate}}</time>
			<a data-toggle="collapse" href="#comments_{{$i}}" aria-expanded="false" aria-controls="comments_{{$i}}">留言</a>
			<span class="badge">0</span>
		</div>
		<div class="panel-collapse collapse" id="comments_{{$i}}">
			<div class="panel-body">
				<!-- comment list -->
				<ul class="list-group">
					<li class="list-group-item">
						<h4 class="list-group-item-heading"><a href=""></a></h4>
						<p class="list-group-item-text"></p>
					</li>
				</ul>

				<!-- comment form -->
				<form class="form-horizontal">
					<div class="form-group">
						<label for="nickname" class="col-sm-2 control-label">昵称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="nickname">
						</div>
					</div>
					<div class="form-group">
						<label for="url" class="col-sm-2 control-label">链接</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="url">
						</div>
					</div>
					<div class="form-group">
						<label for="content" class="col-sm-2 control-label">内容</label>
						<div class="col-sm-10">
							<textarea class="form-control" id="content" rows="6"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">留言</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
	<!-- more article -->
	{{end}}
</div>
{{end}}

<!-- aside -->
{{define "aside"}}
{{template "side.html" .}}
{{end}}

