
<!-- meta -->
{{define "meta"}}
<meta name="keywords" content="blog,zhoukk,zhoukk.com">
<meta name="description" content="zhoukk's blog">
<meta name="author" content="zhoukk,zhoukk@zhoukk.com">
{{end}}


<!-- title -->
{{define "title"}}
<title>相册</title>
{{end}}


<!-- style -->
{{define "style"}}

{{end}}


<!-- script -->
{{define "script"}}
<script type="text/javascript">
	$('#photo-view').on('show.bs.modal', function (event) {
	var a = $(event.relatedTarget)
	var src = a.data('whatever')
	var modal = $(this)
	modal.find('.modal-content img').attr("src", src)
})
</script>
{{end}}

<!-- body -->
{{define "body"}}
{{template "layout_12.html" .}}
{{end}}

<!-- content -->
{{define "content"}}

<!--  <video src="https://raw.githubusercontent.com/zhoukk/zhoukk.github.io/master/video/2015-3-6-21-27-0" preload="auto" controls="controls"></video>
<video src="https://raw.githubusercontent.com/zhoukk/zhoukk.github.io/master/video/2015-3-18-21-42-0" preload="auto" controls="controls"></video>
 -->


<div class="modal fade" id="photo-view" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<img src="" alt="">
		</div>
	</div>
</div>

<div class="row">
	{{range .photos}}
	<div class="col-sm-2 col-md-1">
		<div class="thumbnail">
			<a href="#photo-view" data-toggle="modal" data-whatever="/image/{{.}}">
				<img src="/image/thumb/{{.}}" alt="{{.}}">
			</a>
		</div>
	</div>
	{{end}}
</div>

{{end}}


<!-- aside -->
{{define "aside"}}

{{end}}
