
<!-- meta -->
{{define "meta"}}
<meta name="keywords" content="blog,zhoukk,zhoukk.com">
<meta name="description" content="zhoukk's blog">
<meta name="author" content="zhoukk,zhoukk@zhoukk.com">
{{end}}


<!-- title -->
{{define "title"}}
<title>相册</title>
{{end}}


<!-- style -->
{{define "style"}}

{{end}}


<!-- script -->
{{define "script"}}

{{end}}

<!-- body -->
{{define "body"}}
{{template "body_media.html" .}}
{{end}}

<!-- content -->
{{define "content"}}

<!-- <video src="https://raw.githubusercontent.com/zhoukk/zhoukk.github.io/master/video/2015-3-6-21-27-0" preload="auto" controls="controls"></video>
<video src="https://raw.githubusercontent.com/zhoukk/zhoukk.github.io/master/video/2015-3-18-21-42-0" preload="auto" controls="controls"></video>
-->

<div class="row">
	<div class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="1.png" alt="...">
			<div class="caption">
				<h3>Thumbnail label</h3>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="1.png" alt="...">
			<div class="caption">
				<h3>Thumbnail label</h3>
			</div>
		</div>
	</div>

</div>

{{end}}


<!-- aside -->
{{define "aside"}}

{{end}}
