
<!-- meta -->
{{define "meta"}}
<meta name="keywords" content="blog,zhoukk,zhoukk.com">
<meta name="description" content="zhoukk's blog">
{{end}}


<!-- title -->
{{define "title"}}
<title>影像</title>
{{end}}


<!-- style -->
{{define "style"}}

{{end}}


<!-- script -->
{{define "script"}}

{{end}}

<!-- body -->
{{define "body"}}
{{template "layout_12.html" .}}
{{end}}

<!-- content -->
{{define "content"}}

<div class="container-fluid">
	{{range .videos}}
	<video src="/videos/{{.}}" preload="auto" controls="controls"></video>
	{{end}}
</div>

{{end}}


<!-- aside -->
{{define "aside"}}

{{end}}
