<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type"content="text/html;charset=utf-8">
	<meta http-equiv="Content-Language" content="zh-CN">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">

	<meta name="author" content="{{.config.author}}">
	<meta name="keywords" content="{{.config.keywords}}">
	<meta name="description" content="{{.config.description}}">
	{{template "meta" .}}

	{{template "title" .}}
	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	{{template "style" .}}
	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">

		<!-- navbar -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li>
						<a href="/">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
							主页
						</a>
					</li>
					<li>
						<a href="/archive.html">
							<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
							存档
						</a>
					</li>
					<li>
						<a href="/photo.html">
							<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
							相册
						</a>
					</li>
					<li>
						<a href="/video.html">
							<span class="glyphicon glyphicon-film" aria-hidden="true"></span>
							影像
						</a>
					</li>
					<li>
						<a href="/about.html">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							关于
						</a>
					</li>
				</ul>
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group dropdown">
						<input type="text" class="form-control" id="search_keywords" placeholder="关键字">
					</div>
					<a tabindex="0" class="btn btn-default" role="button" id="btn_search">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						搜索
					</a>
				</form>
			</div>
		</nav>

		<div class="row" role="main">{{template "body" .}}</div>
		
		<!-- footer -->
		<footer>
			<hr>
			<p class="text-center"><a href="/atom.xml">RSS订阅</a> | <a href="/sitemap.xml">网站地图</a> | <a href="mailto:{{.config.author}}">联系作者</a> | <a href="#">回到顶部</a></p>
		</footer>
		
	</div>

	<!-- scripts -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="/static/js/search.js"></script>
	{{template "script" .}}
</body>
</html>