<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta name="author" content="zhoukk">
	<title>zhoukk</title>

	<link rel="icon" href="/favicon.ico">
	<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		body {
			background-color: #CCC;
			padding-top: 50px;
			padding-bottom: 50px;
		}
	</style>
</head>
<body>
	{{template "navbar.html"}}
	<div class="container" role="main">
		<div class="page-header">
			<h1>WELCOME TO ZHOUKK.COM</h1>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<h2>最近更新</h2>
				{{range .}}
				<div class="well">
					<a href="{{.permalink}}">
						<h1>{{.title}}</h1>
					</a>
					{{.date}}
					<br/>
					{{.content}}
				</div>
				{{end}}
			</div>
			<div class="col-xs-4"></div>
		</div>
	</div>
	{{template "footer.html"}}
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript"src="http://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery||document.write('<script type="text/javascript" src="js/jquery.min.js"><\/script>')</script>
<script type="text/javascript"src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>